
<main id="main">

    <main>
        <div class="container mt-4">
            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Update Details</h5>
                                    </div>

                                    <form class="row g-3 needs-validation" novalidate>

                                        <div class="col-12">

                                            <input type="text" name="CardNo" placeholder="First Name" class="form-control" id="CardNo" required>

                                        </div>

                                        <div class="col-12">

                                            <input type="text" name="CardNo" placeholder="Last Name" class="form-control" id="CardNo" required>

                                        </div>

                                        <div class="col-12">

                                            <input type="text" name="CardNo" placeholder="Userame"  class="form-control" required>

                                        </div>

                                        <div class="col-12">

                                            <input type="email" class="form-control" placeholder="Email" required>

                                        </div>

                                        <div class="col-12">

                                            <input type="text" class="form-control" placeholder="Phonenumber" required>

                                        </div>

                                        <div class="col-12">

                                            <input type="password" name="Pincode" class="form-control" placeholder="Password" required>

                                        </div>

                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Create</button>
                                        </div>
                                        <div class="col-12">
                                            <p class="small mb-0">Don't have account? <a href="pages-register.html">Create an account</a></p>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </section>
    </main><!-- End #main -->