@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
 
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

      </div>
    </section><!-- End Breadcrumbs -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="image col-lg-6" style='background-image: url("../img/Auction4.png");' data-aos="fade-right"></div>
        
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>Item Name.</h3>

          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
          
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>

          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
          </p>
        </div>
        
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-2 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Bidder</th>
                <th scope="col">Bid Time</th>
                <th scope="col">Bid Price</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td></td>
              </tr>
              
            </tbody>
          </table>       
        </div>
        
        <div class="col-lg-6 pt-2 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <form>
                    <div class="form-row">
                      <div class="col-md-7 mb-3 ">
                        <label for="UserName">UserNmae</label>
                        <input type="text" class="form-control"  required>            
                      </div>          
                     </div>

              <div class="col-md-7 mb-3">
                <label for="validationCustomUsername">Bid</label>
                <div class="input-group">

                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend">$</span>
                      </div>

                  <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                
                </div>
              </div>
              <button class="btn btn-primary" type="submit">Submit form</button>
            </form>
         </div>

      </div>
          
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
    @section Scripts
        {
        @{
            Html.RenderPartial("_ValidationScriptsPartial");
        }

    }
