@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@model IEnumerable<AunctionApp.BLL.Models.AuctionVMForm>

<div class="text-center">

<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>Premier destination for online auctions.<span>.</span></h1>
                <h2>Discover a thrilling world of bidding, buying, and winning with Germane Aunction.</h2>                
            </div>
        </div>
    </div>
</section>

<main id="main">
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="~/img/Aunction2.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                        <h3>Discover a world of endless possibilities as you explore our diverse range of cars,</h3>
                    <br />
                    <p class="fws-bold">
                        Unleash the thrill of the auction floor from the comfort of your own device. With [Auction App Name], you have access to a vast array of auctions spanning a wide range of categories, including art, antiques, jewelry, collectibles, vehicles, and more. No matter your interests, we've got you covered!
                    </p>
                    <br />
                    <ul>
                        <li><i class="ri-check-double-line"></i> Whether you're a passionate collector, a savvy bargain hunter, or an enthusiastic seller.</li>
                        <li><i class="ri-check-double-line"></i> community of like-minded individuals to engage in exhilarating auction experiences like never before.</li>
                        <li><i class="ri-check-double-line"></i> Whether you're seeking that elusive collectible, a statement piece for your home, or simply the thrill of bidding</li>
                    </ul>
                    <br />
                    <p>
                        Our robust seller tools allow you to create captivating listings with high-quality images,detailed 
                        descriptions, and customizable auction parameters, giving you full control over your selling journey.
                    </p>
                </div>
            </div>

        </div>
    </section>
    
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="image col-lg-6" style='background-image: url("/img/aunction3.jpg");' data-aos="fade-right"></div>
                <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
                        <h4><strong>Why Choose Us?</strong></h4>
                        <hr />
                    <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                        <i class="bx bx-receipt"></i>
                            <h4>Simplified Bidding Process</h4>
                            <p>Bid with confidence using our user-friendly and intuitive bidding system. We've streamlined the process to make it effortless and enjoyable. Place bids, set maximum limits, and receive real-time updates on auction progress.</p>
                    </div>
                    <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                        <i class="bx bx-cube-alt"></i>
                            <h4>Transparency and Trust</h4>
                            <p>We prioritize trust and transparency in every aspect of our platform. Our auctions are conducted with utmost integrity, ensuring fair competition and authentic listings. Rest assured, you're participating in a secure environment where your satisfaction is our top priority.t</p>
                    </div>
                    <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                        <i class="bx bx-images"></i>
                            <h4>Seamless Mobile Experience</h4>
                            <p>Take the excitement of auctions wherever you go! Our mobile app provides a seamless experience across devices, allowing you to bid on-the-go, keep track of your favorite items, and never miss out on an opportunity to secure your dream car.</p>
                    </div>
                    <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                        <i class="bx bx-shield"></i>
                            <h4>Unparalleled Variety</h4>
                            <p>Explore an extensive selection of unique and rare cars up for auction. Vintage automobiles, there's something for everyone. Our diverse collection ensures that you'll find the perfect piece to enhance your collection or make a statement.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="section-title">
                    <h2>Cars</h2>
                    <p>Check Available Auctions</p>
                </div>             

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    @foreach (var item in Model.Select((value, i) => new { value, i }))
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap">
                                <img src="~/img/Auctions/@item.value.ProductImagePath" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <strong>
                                        <h4>@item.value.ProductName</h4>
                                    </strong>
                                                   
                                    <div class="portfolio-links">
                                        <a href="~/img/Auctions/@item.value.ProductImagePath" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.value.ProductName"><i class="fa-solid fa-up-right-and-down-left-from-center fa-sm mx-1"></i></a>
                                        <a asp-controller="Auction" asp-action="GetAuction" asp-route-ProductId="@item.value.Id" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="fa-solid fa-circle-info fa-sm"></i></a>                          
                                    </div>
                                </div>
                            </div>
                        </div>                
                    }                   
                </div>
            </div>
        </section>

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Contact Us</p>
            </div>

            <div>
                <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>A108 Adam Street, New York, NY 535022</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>jsonosii097@gmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+2349133345674</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>

                </div>
            </div>
        </div>
    </section>

</main>
</div>

@section Scripts
    {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
}
