@using AunctionApp.DAL.Entities;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AunctionAppMVC</title>
    <link href="~/vendor/aos/aos.css" rel="stylesheet" asp-append-version="true">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet" asp-append-version="true">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Aunction.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AunctionAppMVC.styles.css" asp-append-version="true" />
    
</head>
<body>
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-lg-between">
            <div class="d-flex">
                <h1 class="logo me-auto me-lg-0">
                    <img src="~/img/car-logo20.jpg" class="" style="width: ">
                    <a asp-controller="Auction" asp-action="Home">Jermaine Auction<span>.</span></a>
                </h1>
            </div>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a class="nav-link scrollto " asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a class="nav-link scrollto" asp-area=" " asp-controller="User" asp-action="Profile">Profile</a></li>

                        if (User.IsInRole("SuperAdmin"))
                        {
                            
                            <li><a class="nav-link scrollto" asp-area=" " asp-controller="User" asp-action="RegisterAdmin">Register Admin</a></li>                       
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                        {
                            <li><a class="nav-link scrollto " asp-area="" asp-controller="Auction" asp-action="Home">Auctions</a></li>
                            <li><a class="nav-link scrollto" asp-area="" asp-controller="Admin" asp-action="NewAuction">New</a></li>
                            <li><a class="nav-link scrollto" asp-area="" asp-controller="Admin" asp-action="AllAuctions">All Auctions</a></li>
                            <li><a class="nav-link scrollto" asp-area=" " asp-controller="User" asp-action="AllUsers">Users</a></li>
                        }
                        @if (User.IsInRole("User"))
                        {
                            <li><a class="nav-link scrollto " asp-area="" asp-controller="Auction" asp-action="Home">Auctions</a></li>
                            <li><a class="nav-link scrollto" asp-area=" " asp-controller="User" asp-action="UserBids">bids</a></li>
                        }                 
                        <li><a class="nav-link scrollto" asp-area=" " asp-controller="User" asp-action="SignOut">LogOut</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="UserChangePassword">change password</a></li>

                    }
                    @if(!User.Identity.IsAuthenticated)
                    {              
                        <li><a class="nav-link scrollto " asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a class="nav-link scrollto" asp-area=" " asp-controller="User" asp-action="RegisterUser">Register</a></li>
                        <li><a class="nav-link scrollto" asp-area=" " asp-controller="User" asp-action="SignIn">Login</a></li>
                    }
                </ul>
            </nav>
        </div>
    </header>
            @RenderBody()
    
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>Jermaine Auctions<span>.</span></h3>
                            <p>
                                A108 Adam Street <br>
                                NY 535022, USA<br><br>
                                <strong>Phone:</strong> +2349133345674<br>
                                <strong>Email:</strong> jsonosii097@gmail.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Auction" asp-action="Home">Auctions</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="User" asp-action="RegisterUser"></a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="User" asp-action="SignIn">Login</a></li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><i class="bx bx-chevron-right"></i> <a asp-controller="User" asp-action="SignOut">Logout</a></li>
                            }
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Jermaine Auctions</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer>

    
    <script src="~/vendor/purecounter/purecounter_vanilla.js" asp-append-version="true"> </script>
    <script src="~/vendor/aos/aos.js" asp-append-version="true"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js" asp-append-version="true"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js" asp-append-version="true"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js" asp-append-version="true"></script>
    <script src="~/vendor/php-email-form/validate.js" asp-append-version="true"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
