@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@model AunctionApp.BLL.Models.AuctionVMForm;

<div class="my-5">
    <main id="main">
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper">
                            <div class="swiper-wrapper align-items-center">

                                <div class="swiper-slide">
                                    <img src="~/img/Auctions/@Model.ProductImagePath" alt="">
                                </div>                      

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h3>@Model.ProductName</h3>
                            <ul>
                                <li><strong>Price: </strong>$ @Model.ActualAmount</li>
                                <li><strong>Status: </strong>@Model.Status</li>                       
                            </ul>
                        </div>
                        <div class="portfolio-description">
                            <h2>Description</h2>
                            <p>
                                @Model.Description
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </main>
</div>
@section Scripts
    {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
 }
